<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>План продаж</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <div class="container">
        <h1>План продаж</h1>
        <form method="post" id="salesForm">
            <div class="sale-plan">
                <label for="start_date">Дата начала плана:</label>
                <input type="date" name="start_date[]" required><br><br>

                <label for="amount">Необходимая сумма:</label>
                <input type="number" name="amount[]" required><br><br>

                <label for="product">Продукт:</label>
                <select name="product[]" required>
                    {% for product in products %}
                    <option value="{{ product }}">{{ product }}</option>
                    {% endfor %}
                </select><br><br>
                <button type="button" onclick="removeSalePlan(this)">Удалить</button>
            </div>
        </form>

    </div>
    <div class="button-container">
        <button type="button" onclick="addSalePlan()">Добавить план продаж</button>
        <br><br>
        <button type="submit" form="salesForm">Сохранить</button>
    </div>
</body>


<script>
    function addSalePlan() {
        var form = document.getElementById("salesForm");
        var newPlan = document.createElement("div");
        newPlan.className = "sale-plan";
        newPlan.innerHTML = `
            <label for="start_date">Дата начала плана:</label>
            <input type="date" name="start_date[]" required><br><br>

            <label for="amount">Необходимая сумма:</label>
            <input type="number" name="amount[]" required><br><br>

            <label for="product">Продукт:</label>
            <select name="product[]" required>
                {% for product in products %}
                <option value="{{ product }}">{{ product }}</option>
                {% endfor %}
            </select><br><br>
            <button type="button" onclick="removeSalePlan(this)">Удалить</button>
        `;
        form.insertBefore(newPlan, form.lastChild);
    }
    function removeSalePlan(button) {
            var plan = button.parentNode;
            plan.parentNode.removeChild(plan);
        }
</script>
</html>
